.ourProcessWrapper {
  // margin-top: 90px;

  // @media (min-width: 768px) {
  //   margin-top: 14rem;
  // }
  display: flex;
  flex-direction: row;
}

.processFlexContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  min-height: 175vh;

  // @media (min-width: 768px) {
  //   flex-direction: row;
  //   align-items: flex-start;
  //   gap: 12rem;
  // }
}

.rightContainer {
  position: sticky;
  flex: 1;
  top: 200px;
  right: 0;
  padding-top: 10px;
  align-self: flex-start;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
}

.lottieWrapper {
  width: 330px;
  height: 330px;

  // @media (min-width: 768px) {
  //   width: 250px;
  //   height: 250px;
  //   top: calc(50vh - 125px); // Center on larger screens
  // }

  svg {
    width: 100% !important;
    height: 100% !important;
  }
}

.stepsSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 3rem;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.stepTitle {
  font-weight: 400;
  font-size: 64px !important;
  color: black;
}

.stepText {
  font-weight: 400;
  font-size: 18px !important;
  color: black;
}
